<div class="block-header">
    <h2><i class="md md-my-library-books"></i>  Libro de Anotaciones</h2>
    
    <ul class="actions">
        <li class="dropdown">
            <a href="" data-toggle="dropdown">
                <i class="md md-more-vert"></i>
            </a>
            
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Listar</a>
                </li>
                <li>
                    <a href="">Agregar</a>
                </li>
            </ul>
        </li>
    </ul>
    
</div>
