label.error{
  background: rgba(255, 163, 163,0.3);
  border:1px solid #ffa3a3;
  color: #ffa3a3;
  background-size: 20px 20px;
  line-height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  margin-top: -15px;
  margin-bottom: 15px;
  display: block;
  position: relative;
  font-weight: normal;
}

.subscribe-message{
  color: #fff;
  
}



.ingreso textarea {
    resize: none;
    height: 200px;
    padding: 20px;
}

.ingreso .submit {
    margin: 0;
    width: 178px;
    border-color: #ffa3a3;
    float: right;
    background: #ffa3a3;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.ingreso .submit:hover {
    background: #fff;
    color: #ffa3a3;
}

.ingreso input.error {
    border: 1px solid #ef4b4b;
}

.ingreso input.error:focus, textarea.error:focus {
    border: 1px solid #ef4b4b;
}

.fast-ingreso {
    margin-bottom: 100px;
}

.fast-ingreso li {
    font-size: 18px;
    color: #9c9c9c;
    font-weight: 100;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.fast-ingreso li i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #9c9c9c;
}

.fast-ingreso a:hover {
    text-decoration: underline;
    color: #ffa3a3;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.alert-danger {
  background: rgba(255, 163, 163, 0.3);
  border: 1px solid #ffa3a3;
  color: #ffa3a3;
}

.btn-crearcuenta{
  background: #fff;
  color: #ffa3a3;
  text-shadow: inherit;
  border-radius: 5px;
    display: inline-block;
  font-size: 18px;
  font-weight: 300;
}


.btn-portal{
    border-color: #ffa3a3;
    background: #ffa3a3;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    height: 50px;
    padding: 0 60px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.btn-portal-cancelar{
    border-color: #ffa3a3;
    background: #fff;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    height: 50px;
    padding: 0 60px;
    color: #ffa3a3;
    font-weight: 700;
    font-size: 18px;
}

.portal-titulo-modal {
    font-weight: 400;
    font-size: 20px;
    color: #303030;
    text-transform: uppercase;
}

.input-portal {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.input-portal:focus {
    border-color: #ffa3a3;
    outline: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}


.subtituloModal {
  font-size: 18px;
  color: #9c9c9c;
  line-height: 27px;
  margin-bottom: 20px;
}
